:root {
  --lblack: #6c6c6c;
  --lwhite: #f8f6f8;
  --dwhite: #eeebeb;
  --currentcolor: gray;
  --pattern-channel-1: lightgray;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }

body {
	background-color: var(--lwhite);
}
.row {
	text-align: center;
}
.button {
	background-color: lightblue;
	border-color: black;
}
.title {
	font-family: 'Playfair Display', sans-serif;
	font-size: 2em;
	margin-top: 1em;
}
.plive {
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}
.plive:hover {
    cursor: pointer;
}

input#filter {
	width: 25%;
	margin-bottom: 1em;
	border-radius: 12px;
	text-align: center;
}
#playlist {
	padding-bottom: 200px;
}
svg path {
	stroke: gray;
}
.brox {
	flex-grow: 1;
	width: 100%;
	padding: 20px;
}

.onair{
	color: darkred;
}
.detail {
	display: inline-block;
	vertical-align: middle;
}
.icon {
	height: 100%;
	background-color: var(--dwhite);
	width: 70px;
	height: 70px;
	margin-left: 20px;
	border-radius: 17px;
}
.onair .icon {
	animation: fa-spin 2s infinite linear;
}
.icon i {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 2em;
}
.icon:hover {
    cursor: pointer;
}
.name {
	font-family: 'Playfair Display', serif;
	/*font-family: 'Bowlby One SC', cursive;*/
	font-size: 3em;
	margin-left: 30px;
}
.descr {
	font-family: 'Noto Sans Syloti Nagri', sans-serif;
	font-size: 0.7em;
	max-width: 40%;
	margin-left: 20px;
	color: var(--lblack);
}
.stickbottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 7px solid lightgray;
}