:root {
  --lblack: #6c6c6c;
  --lwhite: #f8f6f8;
  --dwhite: #eeebeb;
  --currentcolor: gray;
  --pattern-channel-1: lightgray;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }

html, body {
	width: 100%;
	background-color: var(--lwhite);
}
.header div {
	text-align: center; 
}
.button {
	background-color: lightblue;
	border-color: black;
}
.title {
	font-family: 'Playfair Display', sans-serif;
	font-size: 2em;
	margin-top: 1em;
}
.plive {
	font-size: 1.35em;
	margin: 24px;
}
.plive:hover {
    cursor: pointer;
}

input#search {
	width: 30%;
	margin-bottom: 40px;
	border-radius: 12px;
	text-align: center;
}
#playlist {
	padding-bottom: 200px;
}
svg path {
	stroke: gray;
}
.row {
	width: 100%;
	min-height: 90px;
	margin-bottom: 20px;
}
.onair{
	color: darkred;
}
.detail {
	vertical-align: middle;
}
.icon {
	position: absolute;
	height: 100%;
	background-color: var(--dwhite);
	width: 70px;
	height: 70px;
	margin-left: 15px;
}
.onair .icon {
	animation: fa-spin 4s infinite linear;
}
.icon i {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 2.2em;
}
.icon:hover {
    cursor: pointer;
}
.name {
	font-family: 'Playfair Display', serif;
	/*font-family: 'Bowlby One SC', cursive;*/
	font-size: 2.4em;
	margin-left: 110px;
	padding-right: 15px;
}
.descr {
	font-family: 'Noto Sans Syloti Nagri', sans-serif;
	font-size: 0.9em;
	margin-left: 110px;
	padding-right: 15px;
	color: var(--lblack);
}
.stickbottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 7px solid lightgray;
}