/* ===================================== */
:root {
  --lverde: #729c16;
  --lblack: #6c6c6c;
  --lwhite: #f8f6f8;
  --dwhite: #eeebeb;
  /*--currentcolor: gray;*/
  /*--pattern-channel-1: lightgray;*/
}
/* ===================================== */
/* hack to allow linebreaks, aka « &#10; » within hint.css tooltips */
/* https://github.com/chinchang/hint.css/issues/100 */
[class*=hint--]:after {
  z-index: 9999999;
  white-space: pre;
  text-align: left;
}
/*[data-hint]:after {
  text-align: left;
}*/
/* ===================================== */
/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }

html, body {
	width: 100%;
	background-color: var(--lwhite);
}
/* ===================================== */
.header div {
	text-align: center; 
}
.alma {
	font-family: 'Dancing Script', cursive;
	font-size: 0.8em;
	font-style: italic;
	color: var(--lverde);
	margin-top: 15px;
}
/*.button {
	background-color: lightblue;
	border-color: black;
}*/
.title {
	font-family: 'Arvo', serif;
	/*font-family: 'Sawarabi Mincho', serif;*/
	/*font-family: 'Arvo', serif;*/
	font-size: 2em;
	margin-top: 4px	;
	filter: drop-shadow(0 0 25px #729c16);
}
.moto {
	font-family: 'Dancing Script', cursive;
	font-size: 0.8em;
	font-style: italic;
	color: var(--lverde);
	margin-top: 4px;
}
/* ===================================== */
.logo {
	position: relative;
	margin: 15px;
	font-size: 2em; 
}
.logo i.fa-pagelines {
	color: var(--lverde);
	opacity: 0.8;
}
.logo:hover {
    cursor: pointer;
}
.logo.live .fa-play-circle-o { display: none; }
.logo.live .fa-pagelines {
	animation: fa-spin 1.5s infinite cubic-bezier(.42,.77,.72,.3);
	color: darkred; }
.ayudanos {
	position: absolute;
	left: 60%;
	top: 50%;
	transform: translate(100%,-50%);
	font-size: 0.9rem;
	font-style: italic;
	color: var(--lblack);
	text-decoration: none;
}
.ayudanos span {
	display: block;
	font-size: 0.7em;
}
/* ===================================== */
input#search {
	width: 45%;
	margin-bottom: 10px;
	border-radius: 12px;
	text-align: center;
	opacity: 0.7;
	font-size: 0.8em;
}
.tags {
	margin-bottom: 40px;
}
.tag {
	padding: 3px;
	margin: 1px;
	border-radius: 7px;
	color: lightgrey;
}
.tag:hover {
	cursor: pointer;
}
.tag.on {
	background-color: var(--lverde);
}
.tag.on i {
	color: white;
}
/* ===================================== */
#playlist {
	padding-bottom: 200px;
}
.row {
	width: 100%;
	min-height: 90px;
	margin-bottom: 20px;
}
.onair{
	color: darkred;
}
.detail {
	vertical-align: middle;
}
.icon {
	position: absolute;
	height: 100%;
	background-color: var(--dwhite);
	width: 70px;
	height: 70px;
	margin-left: 15px;
	opacity: 0.5;
}
.onair .icon {
	animation: fa-spin 8s infinite linear;
	opacity: 1;
}
.icon i {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 2.2em;
	filter: drop-shadow(0 0 5px #fff);
}
.icon:hover {
    cursor: pointer;
}
.name {
	font-family: 'Dancing Script', cursive;
	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'Bowlby One SC', cursive;*/
	font-size: 2.4em;
	margin-left: 105px;
	padding-right: 15px;
	max-width: 500px;
}
.descr {
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Noto Sans Syloti Nagri', sans-serif;*/
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 105px;
	padding-right: 15px;
	color: var(--lblack);
	opacity: 0.5;
}
/* ===================================== */
.stickbottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 7px solid lightgray;
}