/* ===================================== */
:root {
  --lverde: #729c16;
  --lblack: #6c6c6c;
  --lwhite: #f8f6f8;
  --dwhite: #eeebeb;
  --pyellow: #fff2ad;
  /*--currentcolor: gray;*/
  /*--pattern-channel-1: lightgray;*/
}
/* ===================================== */
/* hack to allow linebreaks, aka « &#10; » within hint.css tooltips */
/* https://github.com/chinchang/hint.css/issues/100 */
[class*=hint--]:after {
  z-index: 9999999;
  white-space: pre;
  text-align: left;
}
/*[data-hint]:after {
  text-align: left;
}*/
/* ===================================== */
/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	background: var(--lwhite);
}
/* ===================================== */
.hide {
	display: none !important;
}
.toglabout {
	padding: 5px 7px;
	border-radius: 20px;
	background: var(--pyellow);
}
.about {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	text-align: left;
	background: var(--pyellow);
	z-index: 9999999;
	overflow-y: scroll;
}
.about ul {
	list-style-type: none;
}
.about i.fa-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 1.4em;
}
.about i {
	float: right;
}
/* ===================================== */
.header {
/*	position: absolute;
	top: 0;
	left: 0;*/
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	/*border-bottom: 7px solid lightgray;*/
	z-index: 999;
}
.alma {
	font-family: 'Dancing Script', cursive;
	font-size: 0.9em;
	font-style: italic;
	color: var(--lverde);
	margin-top: 10px;
}
.title {
	font-family: 'Arvo', serif;
	/*font-family: 'Sawarabi Mincho', serif;*/
	/*font-family: 'Arvo', serif;*/
	font-size: 2.2em;
	filter: drop-shadow(0 0 25px #729c16);
	margin-top: 10px;
}
.hleft, .hright {

}
.hleft {
	left:0;
}
.hright {

}
.moto {
	font-family: 'Dancing Script', cursive;
	font-size: 0.9em;
	font-style: italic;
	color: var(--lverde);
}
/* ===================================== */
.butt {
	position: absolute;
	top: 10px;
	color: var(--lblack);
	cursor: pointer;
	font-size: 1.7em;
}
.toglabout {
	right: 10px;
	/*transform: translate(-50%,-50%);*/	
}
/* ===================================== */
.playstream {
	font-size: 0.8em; 
}
.playstream i.fa-pagelines {
	color: var(--lverde);
	opacity: 0.8;
}
.playstream:hover {
    cursor: pointer;
}
.playstream.live .fa-play-circle-o { display: none; }
.playstream.live .fa-pagelines {
	animation: fa-spin 1.5s infinite cubic-bezier(.42,.77,.72,.3);
	color: darkred; }
/* ===================================== */
.actions {
	position: relative;
	margin-top: 13px;
	margin-bottom: 7px;
}
.searcher, .adder {
	display: inline-block;
	position: relative;
}
#toggleinput {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-140px,-50%);
	border-radius: 15px;
	border: 1px solid lightgray;
	background: lightgrey;
	width: 50px;
	height: 25px;
	overflow: hidden;
}
#toggleinput .tbut {
	position: absolute;
	width: 25px;
	height: 25px;
	background: white;
	top: 1px;
	right: 1px;
}
#toggleinput i {
	position: absolute;
	font-size: 0.8em;
	top: 50%;
	transform: translate(0,-50%);
	color: black;
}
#toggleinput.switched .tbut {
	left: 0;
}
#toggleinput.switched i.fa-plus { color: darkred; }
#toggleinput.switched i.fa-search { color: gray; }
#toggleinput i.fa-plus { left: 8px; color: gray; }
#toggleinput i.fa-search { right: 8px; color: var(--lverde);}
input {
	border-radius: 17px;
	text-align: center;
	padding: 6px 4px 2px 4px;
}
input#search {
	color: var(--lverde);
	width: 160px;
}
input#addnew {
	filter: drop-shadow(0 0 5px #9e3030);
	color: darkred;
	width: 160px;
}
#submitnew {
	position: absolute;
	top: 50%;
	right: -36px;
	transform: translate(-50%,-50%);
	color: darkred;
}
#toggleinput, #submitnew {
	cursor: pointer;
}
/* ===================================== */
.tags {
	margin-bottom: 10px;
}
.tag {
	padding: 3px 3px;
	margin: 1px;
	border-radius: 7px;
	color: lightgray;
	/*filter: drop-shadow(0 0 2px #4d4d4d);*/
	z-index: 99999;
}
.tag:hover {
	cursor: pointer;
}
.tag .stat {
	position: absolute;
	top: 22px;
	left: 50%;
	font-size: 0.5em;
	text-align: center;
	transform: translate(-50%,0);
}
.tag.on {
	background-color: var(--lverde);
	color: white;
	filter: none;
}
.tag.on i {

}
/* ===================================== */
#map {
	position: absolute;
	margin: 0;
	top: 186px;
	bottom: 50px;	
	left: 0;
	right: 0;
	border-top: 2px solid lightgray;
}
.pt {
	text-align: left;
	font-size: 1.1em;
	padding: 7px 10px;
	border-radius: 17px;
	/* we need to give an explicit size to the icons to find which icons
	 conflict with each other but we actually want them to be auto-sized */
	width: 160px !important;
	height: auto !important;
}
.pt.onair {
	background: #dfb6b473 !important;
}
.pt.onair i {
	animation: fa-spin 4s infinite linear;
	opacity: 1;
	color: darkred;
}
.pt button {
	cursor: pointer;
	padding: 4px 2px 4px 6px;
	border-radius: 20px;
	font-size: 0.8em;
}
.pt i {
	margin-right: 4px;
}
.pt span.more {
	display: none;
}
.pt.opened span.more {
	display: inline;
}
.pt.inflated.opened {
	background: #c4daafe6;
	z-index: 999999 !important;
}
.pt.deflated {
	opacity: 0.1;
	/*color: #d089197d;*/
}
.pt div {
	border-radius: 6px;
	min-width: 40px;
}
/* ===================================== */
.player {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 7px solid lightgray;
}
/* ===================================== */